
version: "3.9"

services:
  db:
    image: postgres:16
    container_name: lab3_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-labuser}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-labpass}
      POSTGRES_DB: ${POSTGRES_DB:-expenses}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
